/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { padding-top: 20px; }
footer { margin-top: 50px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
a {
	color:#23c3d0;
}
h1 {
	font-family: 'Lobster', cursive;
	color: #8e1717;
}
a:hover {
	opacity:0.5;
}
a:visited {
	color: #5c5c5c;
}

a.btn {
	color: #fff;
}
a:hover.btn {
	opacity:0.5;
}
a:visited.btn {
	color: #fff;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width:100%;
}